{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle sortie{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">

                    <h1>Création d'une nouvelle sortie</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button class="btn btn-primary">Créer la nouvelle sortie</button>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
