/* App structure */
body {
    background-color: var(--background);
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: var(--bodyPaddingY) var(--bodyPaddingX);
}

.sortir-header {
    position: relative;
    background-image: var(--background-image-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    justify-content: end;
    width: 100%;
}

.sortir-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--background-image-filter-color);
    z-index: 1;
}

.sortir-header > * {
    position: relative;
    z-index: 2;
}

footer {
    color: var(--background);
    background-color: var(--contrastBackground);
    margin: 0;
    text-align: center;
    height: auto;
    padding: 1em 0;
}

footer {
    color: var(--background);
    background-color: var(--contrastBackground);
    margin: 0;
    padding: 0;
    text-align: center;
    height: 5em;
    align-content: center;
}

.website-background {
    background-image: url("../imgs/WebsiteBG.png");
    background-size: cover;
    background-repeat: no-repeat;
}
/* End App structure */

/* Navbar */
.custom-navbar {
    background-color: var(--contrastBackground);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    margin: 0;
    padding: 0;
}

.navbar-nav {
    width: 100%;
    justify-content: end;
}

.nav-item {
    padding-left: 1em;
    padding-right: 1em;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    width: 100%;
    justify-content: end;
    color: var(--background);
    text-decoration: none;
    font-weight: 600;
}

.custom-navbar .nav-link:hover,
.custom-navbar .navbar-brand:hover {
    color: var(--contrastLinkHover);
    text-decoration: underline;
}

.toggler {
    display: none;
}
/* End Navbar */

/* Layout Helpers */
.flexbox-centered {
    display: flex;
    justify-content: center;
}

.body-container {
    padding: var(--bodyPaddingY);
    padding-left: var(--bodyPaddingX);
    padding-right: var(--bodyPaddingX);
    width: 100%
}
/* End Layout Helpers */


/* Mobile Menu */
@media (max-width: 991.98px) {
    .toggler {
        display: inline;
        background-color: var(--background);
        margin-right: 2em;
        border-radius: 5px;
        font-size: 1.3em;
    }

    .custom-navbar .navbar-collapse {
        background-color: var(--contrastBackground);
        padding: 1em 0;
    }

    .custom-navbar .nav-link {
        display: block;
        padding: 0.5em 2.5rem;
        text-align: end;
        font-weight: 600;
        font-size: 1.2em;
    }
}
/* End Mobile Menu */
